---
import { t } from 'i18next';

import Section from '@/components/ui/Section.astro';
import Container from '@/components/ui/Container.astro';
import Progress from '@/components/ui/Progress.astro';

export interface Props {
  id: string;
  priceCard: { label: string; body: string; subLabel?: string }[];
  progressCard: { label: string; progressValue: number }[];
}

const { id = 'tokenomics', priceCard = [], progressCard = [] } = Astro.props;
---

<Section id={id} class="bg-primary">
  <div>
    <div class="section-title">{t('titles.aboutToken')}</div>
    <p class="section-description">
      {t('descriptions.aboutToken')}
    </p>
    <div
      class="mx-auto mt-14 flex w-full flex-col justify-center gap-6 lg:flex-row"
    >
      <Container variant="cardContainer">
        <div class="cardContainer">
          {
            priceCard.map(({ label, subLabel, body }) => (
              <div>
                <label class="text-sm opacity-50 md:text-lg">{label}</label>
                <div class="text-2xl font-medium tracking-tight md:text-3xl">
                  {body}
                </div>
                {subLabel && <p class="text-xs md:text-base ">{subLabel}</p>}
              </div>
            ))
          }
        </div>
      </Container>
      <Container variant="cardContainer">
        <div class="cardContainer">
          {
            progressCard.map(({ label, progressValue }) => (
              <div>
                <label class="text-lg">{label}</label>
                <Progress
                  value={progressValue}
                  isRemainingSpaceVisible={false}
                />
              </div>
            ))
          }
        </div>
      </Container>
    </div>
  </div>
</Section>

<style>
  .cardContainer {
    @apply flex flex-col gap-4 px-6 py-8 md:gap-8;
  }
</style>
