---
import Section from '@/components/ui/Section.astro';
import Card from '@/components/common/Card.astro';
import type { Card as CardType } from '@/types';

export interface Props {
  id: string;
  cardsData: CardType[];
}

const { id = 'additinalLinks', cardsData = [] } = Astro.props;
---

<Section id={id}>
  <div class="section-title">Additional links</div>
  <div class="mt-16 flex flex-col justify-evenly gap-6 lg:flex-row">
    {
      cardsData.map(({ title, description, href, bulletList }) => (
        <Card
          title={title}
          description={description}
          bulletList={bulletList}
          href={href}
        />
      ))
    }
  </div>
</Section>
