---
import Layout from '@/layouts/PageLayout.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Rewards from '@/components/sections/Rewards.astro';
import Contributors from '@/components/sections/Contributors.astro';
import { SITE } from '@/config';
import TimeLeftTimer from '@/components/common/TimeLeftTimer';
import Button from '@/components/ui/Button.astro';
import AdditionalLinks from '@/components/sections/AdditionalLinks.astro';
import AboutToken from '@/components/sections/AboutToken.astro';
import Roadmap from '@/components/sections/Roadmap.astro';
import Logos from '@/components/Logos.astro';
import FAQ from '@/components/sections/FAQ.astro';

//  TODO hero logos - bump to JSON or JS file
import MiroLogo from '@/assets/images/logos/Miro.png';
import MobbinLogo from '@/assets/images/logos/Mobbin.png';
import StripeLogo from '@/assets/images/logos/Stripe.png';
import WebflowLogo from '@/assets/images/logos/Webflow.png';
import MondayLogo from '@/assets/images/logos/Monday.png';

import Logo from '@/assets/Logo.svg';

let logos = [
  {
    src: MiroLogo,
    alt: '',
  },
  {
    src: MobbinLogo,
    alt: '',
  },
  {
    src: StripeLogo,
    alt: '',
  },
  {
    src: WebflowLogo,
    alt: '',
  },
  {
    src: MondayLogo,
    alt: '',
  },
];

const tempCardsData = [
  {
    title: 'LitePpaer 2.0',
    href: 'http://google.com/',
    bulletList: [
      'Access to all basic features',
      'Basic reporting and analytics',
      'Up to 10 individual users',
    ],
    description:
      'Contribution for the raised xxx between 500,000 - 1,500,000 DOT will receive 8 DOT per contributed DOT as a reward.',
  },
  {
    title: 'WhitePaper',
    href: 'http://google.com/',
    bulletList: [
      'Access to all basic features',
      'Basic reporting and analytics',
      'Up to 10 individual users',
    ],
  },
  {
    title: 'Documentation',
    href: 'http://google.com/',
    description:
      'Contribution for the raised xxx between 500,000 - 1,500,000 DOT will receive 8 DOT per contributed DOT as a reward.',
  },
];

const tempAboutData = {
  projectDescription:
    'The rise of the crypto economy promises a world where everyone has access to open and secure financial systems. But this future isn’t guaranteed, the bridge to this new world must be built.',
  cards: [
    {
      title: '12',
      description:
        'This is a feature description. How would that work?  Why would that be useful? Who could use it? Think of the value. ',
    },
    {
      title: '2x',
      description:
        'This is a feature description. How would that work?  Why would that be useful? Who could use it? Think of the value. ',
    },
  ],
};

let priceCard = [
  {
    label: 'Price',
    body: '$0.0000 (1DOT - 10 XXX)',
  },
  {
    label: 'Total Supply',
    body: '35 000 000 000 DOT',
  },
  {
    label: 'Crowdloan Reward Pool',
    body: '20 000 000 DOT',
    subLabel: '62% of Total Supply',
  },
];

let progressCard = [
  {
    label: 'LP Rewards 40%',
    progressValue: 90,
  },
  {
    label: 'Team 11%',
    progressValue: 20,
  },
  {
    label: 'Ecosystem 4%',
    progressValue: 10,
  },
  {
    label: 'Validation Rewards 30%',
    progressValue: 70,
  },
  {
    label: 'Crowdloan Fund 15%',
    progressValue: 50,
  },
];

let timelinePoints = [
  {
    label: 'Start Date',
    body: '12.12.2022',
  },
  {
    label: 'Testing',
    body: '1.03.2023',
  },
  {
    label: 'Auction',
    body: '15.05.2023',
    isCurrentPoint: true,
  },
  {
    label: 'End date',
    body: '1.08.2023',
  },
];

const faq = [
  {
    question: 'How long does it take to verify my account?',
    answer:
      'Your deposits are instantly converted to US Dollar Coin (USDC). 1 USDC = $1 Dollar. We build on top of USDC technology that enables higher interest rates, faster transfers, and no fees.',
  },
  {
    question: 'How long will my withdrawal take to show up in my bank account?',
    answer:
      'Your deposits are instantly converted to US Dollar Coin (USDC). 1 USDC = $1 Dollar. We build on top of USDC technology that enables higher interest rates, faster transfers, and no fees.',
  },
  {
    question: 'How do Boosts work?',
    answer:
      'Your deposits are instantly converted to US Dollar Coin (USDC). 1 USDC = $1 Dollar. We build on top of USDC technology that enables higher interest rates, faster transfers, and no fees.',
  },
  {
    question: 'What is APY?',
    answer:
      'Your deposits are instantly converted to US Dollar Coin (USDC). 1 USDC = $1 Dollar. We build on top of USDC technology that enables higher interest rates, faster transfers, and no fees.',
  },
  {
    question: 'How does the waitlist work?',
    answer:
      'Your deposits are instantly converted to US Dollar Coin (USDC). 1 USDC = $1 Dollar. We build on top of USDC technology that enables higher interest rates, faster transfers, and no fees.',
  },
  {
    question: 'How do I change my email?',
    answer:
      'Your deposits are instantly converted to US Dollar Coin (USDC). 1 USDC = $1 Dollar. We build on top of USDC technology that enables higher interest rates, faster transfers, and no fees.',
  },
  {
    question: 'How do I change my address?',
    answer:
      'Your deposits are instantly converted to US Dollar Coin (USDC). 1 USDC = $1 Dollar. We build on top of USDC technology that enables higher interest rates, faster transfers, and no fees.',
  },
];

const rewardsDistribution = [
  {
    title: '31 DOT per 1 DOT',
    topLabel: "WE'RE HERE!",
    description:
      'Contribution for the first 500,000 DOT will receive 12 DOT per contributed DOT as a reward.',
  },
  {
    title: '8 DOT per 1 DOT',
    topLabel: 'NEXT BLOCK',
    description:
      'Contribution for the raised xxx between 500,000 - 1,500,000 DOT will receive 8 DOT per contributed DOT as a reward.',
  },
  {
    title: '4 DOT per 1 DOT',
    topLabel: 'NEXT BLOCK',
    description:
      'Contribution for the raised xxx between 1,500,000 - 3,000,000 DOT will receive 4 DOT per contributed DOT as a reward.',
    takeSpace: 2,
  },
  {
    title: '31 DOT per 1 DOT',
    topLabel: 'WHAT ELSE?',
    bulletList: [
      'The failure compensation in Batch 1 and Batch 2 will be distributed by the Project team.',
      'The compensation ratio is XXX : DOT = 0.12 : 1',
    ],
    takeSpace: 4,
  },
];
---

<Layout
  navLinks={SITE.navLinks}
  title="Welcome to Crowdload."
  description="Crowdload is a simple lorem ipsum es dolor "
  footerLinks={SITE.footerLinks}
  logo={Logo}
>
  <Hero id="hero" />
  <Logos logos={logos} class="mt-auto" />

  <About
    id="about"
    projectDescription={tempAboutData.projectDescription}
    cards={tempAboutData.cards}
  />
  <AboutToken
    id="tokenomics"
    priceCard={priceCard}
    progressCard={progressCard}
  />
  <Roadmap id="roadmap" timelinePoints={timelinePoints} progressValue={63} />
  <Rewards id="rewards" rewardsDistribution={rewardsDistribution} />
  <Contributors id="contributors" />
  <AdditionalLinks id="additional" cardsData={tempCardsData} />
  <FAQ id="faq" faq={faq} />
  <div
    class="mx-auto w-full bg-vector-1 bg-cover bg-center bg-no-repeat py-10 px-4 md:py-20"
  >
    <div class="flex flex-col items-center justify-center py-12 md:py-40">
      <TimeLeftTimer
        client:visible
        date={SITE.crowdLoadEndDate}
        variant="big"
      />
      <Button variant="default-light" class="mt-12" />
    </div>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    height: 100vh;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
