---
import Footer from '@/components/common/Footer.astro';
import Navbar from '@/components/common/Navbar.astro';
import Layout from '@/layouts/BaseLayout.astro';
import type { FooterLink, NavLink } from '@/types';

type FooterLinks = {
  links: FooterLink[];
  socials: FooterLink[];
};
export interface Props {
  title: string;
  description: string;
  navLinks: NavLink[];
  footerLinks: FooterLinks;
  logo: string;
}

const {
  title = '',
  description = '',
  navLinks = [],
  footerLinks,
  logo = '',
} = Astro.props;
---

<Layout title={title} description={description}>
  <Navbar navLinks={navLinks} logo={logo} />
  <main>
    <slot />
  </main>
  <Footer links={footerLinks.links} socials={footerLinks.socials} />
</Layout>
