---
export interface Props {
  ariaLabel?: string;
  class?: string;
  label?: string;
  variant?: ButtonVariants;
}

type ButtonVariants = 'default' | 'disabled';

const {
  ariaLabel = 'Button',
  class: className = '',
  label = 'Contribute',
  variant = 'default',
} = Astro.props;

const commonStyles =
  'flex justify-center px-[24px] py-[12px] rounded-2xl text-lg transition duration-150 ease-in-out';

const variants = {
  default: 'bg-base text-white hover:bg-base-light',
  primary: 'bg-white text-base',
  disabled: '',
} as const;
---

<button
  type="button"
  class={`${className} ${variants[variant]} ${commonStyles}`}
  aria-label={ariaLabel}
>
  {label}
</button>
