---
const tableData = [
  {
    rank: '1',
    account: '1BoatSLRHtKNngkdXEeobR76b53LETtpyT',
    date: '7.12.2022',
    contributed: '189,185.44 DOT',
  },
  {
    rank: '1',
    account: '1BoatSLRHtKNngkdXEeobR76b53LETtpyT',
    date: '7.12.2022',
    contributed: '189,185.44 DOT',
  },
  {
    rank: '1',
    account: '1BoatSLRHtKNngkdXEeobR76b53LETtpyT',
    date: '7.12.2022',
    contributed: '189,185.44 DOT',
  },
  {
    rank: '1',
    account: '1BoatSLRHtKNngkdXEeobR76b53LETtpyT',
    date: '7.12.2022',
    contributed: '189,185.44 DOT',
  },
  {
    rank: '1',
    account: '1BoatSLRHtKNngkdXEeobR76b53LETtpyT',
    date: '7.12.2022',
    contributed: '189,185.44 DOT',
  },
];
const tHeaders = Object.keys(tableData[0] || {});
---

<div
  class="mx-auto w-full max-w-4xl overflow-x-auto rounded-lg border border-gray bg-white drop-shadow-primary"
>
  <div class="h-2 w-full bg-timer-gradient opacity-60"></div>
  <table class="w-full table-auto">
    <thead class="rounded-lg border bg-gray text-xs font-medium text-gray-dark">
      <tr>
        {
          tHeaders.map((label) => (
            <th class="border-gray border-b-[1px] py-4 text-start uppercase first-of-type:px-4 ">
              {label}
            </th>
          ))
        }
      </tr>
    </thead>
    <tbody class="text-base lg:text-lg">
      {
        tableData.map(({ rank, account, contributed, date }) => (
          <tr class="border-gray rounded-lg border-b-[1px] last-of-type:border-b-0">
            <td class="py-3 pr-8 text-center">{rank}</td>
            <td>{account}</td>
            <td>{date}</td>
            <td class="pr-8">{contributed}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>

<style>
  td:not(:first-of-type):not(:last-of-type) {
    @apply pr-11;
  }
</style>
